a.prev:hover,a.next:hover { background-color:#de945b;}
.footerstress { border: solid #de945b;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#de945b;}
.vuzz-pricing-table>div { border-top:#de945b 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#de945b;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#de945b;}
.hometitlebg { background:#de945b; }
.colortitlebg { background:#de945b; }
.neutralbutton {	background:#de945b;}
.serviceicon { background-color:#de945b;}
.subtitle { border-bottom:#de945b 1px solid;}
.wrapaction { border-left: #de945b 3px solid;background:#fff;}
.actionbutton { background-color:#de945b;}
.stresstitle { border-bottom:#de945b 1px solid;}
.undermenuarea {	background: #de945b url(../images/noise.png) repeat;}
.noshadowbox {background:#fff;}
.progressdefault {background: #de945b;}
.simplebox {border-left: 1px solid #de945b;}
.simpleboxicon {color: #de945b;}
.colorme { color:#de945b;}
.buttonprice {background: #de945b;color:#fff;border:0px;}
a.expandAll {background: #de945b;}
.wrapactiondefault {border-left: #de945b 2px solid;}